@import "~leaflet";
@import "~bootstrap";
@import "./icon.css";

//@import "~@tarekraafat/autocomplete.js/dist/css/autoComplete.css";


header {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(248, 248, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);
    .menu-bar {
        display: flex;
        position: fixed;
        width: 100%;
        padding: 15px 0;
        background-color: white;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 80px;
        .menu-bar-inner {
            display: flex;
            align-items: center;
            .logo {
                transition: width 0.2s ease-in;
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }
}
.restaurant-wrapper{
    background-color: rgb(248, 248, 248);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    padding-top: 80px;
    &>.list-wrapper{
        flex:0 0 50%;
        .restaurant-filters {
            padding-bottom: 10px;

            .cooktypes{
                .cook-result{
                    display:flex;
                    flex-wrap: wrap;
                    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
                    .selected-cook-type{

                        padding: 5px;
                        border-radius: 5px; 
                        margin:5px;
                        span:last-child{
                            margin-left: 5px;  
                            cursor: pointer;
                        }
                    }
                }
            }
            .eating-types{
                display:flex;
                flex-wrap: wrap;
                &>div{
                    margin-left:5px;
                }
            }

        }

        .restaurant-list {
            padding-bottom: 150px;
            .restaurant-item {
                padding: 10px;
                .restaurant-content {
                    margin: 5px;
                    background-color: white;
                    display: flex;
                    position: relative;
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;

                    .restaurant-picture {
                        background-color: lightgray;
                        flex: 0 0 300px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .restaurant-description {
                        padding: 5px;
                        padding-top: 30px;
                        position: relative;
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .restaurant-tags {
                            //background-color: #53a63c;
                            //color: white;
                            /*position: relative;
                            top: 0px;
                            left: -15px;
                            padding-left: 10px;*/
                            padding: 0px 5px;
                            color:gray;
                            /*border-top-right-radius: 30px;
                            border-bottom-right-radius: 30px;
                            padding-right: 30px;
                            max-width: 100%;
                            
                           /* &:before {
                                content: "";
                                position: absolute;
                                height: 0px;
                                width: 0px;
                                left: 0px;
                                top: -4px;
                                border-right: 5px solid #2d621e;
                                border-bottom: 2px solid #2d621e;
                                border-top: 2px solid transparent;
                                border-left: 5px solid transparent;
                            }*/
                            span{  
                                font-style: italic;
                                text-transform: capitalize;
                                &:not(:first-child):before{
                                    content:", "; 
                                }
                            }

                        }

                        .restaurant-name{
                            font-size: 1.3em;
                        }

                        .restaurant-openings{
                            font-size:0.7em;
                            h4{
                                font-size: 0.9rem;
                                font-weight: bold;
                            }

                            .opening-day-name{
                                flex: 0 0 100px;
                            }
                            .opening-day{
                                display:flex;
                                justify-content: space-between;
                                .opening-day-hours{
                                    flex:1;
                                    margin-left: 5px;
                                    display: flex;
                                    span{
                                        flex: 0 0 50%
                                    }
                                }
                            }
                        }
                        .restaurant-infos{
                            margin: 10px 0px ;
                            .restaurant-telephone {
                                font-size: 0.9rem;
                            }
                            .restaurant-links {
                                height: 2em;
                                .restaurant-external-link{
                                    font-size: 1.5em;
                                    margin: 5px;
                                    .icon-facebook{
                                        color:#4267B2
                                    }
                                }	
                            }
                        }
                        .restaurant-seemap {
                            padding: 10px;
                            text-align: right;
                            width: 100%;
                            display: inline-block;
                        }
                    }
                    .order-links{
                        text-align: right;
                        .restaurant-external-link:not(:first-child){
                            border-left: 1px solid gray
                        }
                        .restaurant-external-link{
                            padding:5px;
                        }
                    }    
                    /* .order-links {
                         color : white;
                         padding: 10px;
                         background-color: #53a63c;
                         text-align: center;
                         position: relative;
                         .phone-links a{
                             color: white !important;
                         }
                         .external-links{
                             .external-links-button{
                                 cursor:pointer;
                                 width:100%;
                                 height:100%;
                             }
                             label{
                                 margin-bottom: 0px
                             }
                             .links-veil{
                                 position:fixed
                             }
                             .popup-trigger{
                                 display:none;
                             }
                             .popup-trigger:checked ~ .links-popup{
                                 transform: translateY(-50%) scaleX(1) scaleY(1);
                             }
                             .popup-trigger:checked ~ .popup-veil{
                                 display: block;
                             }
                             .popup-veil{
                                 position: fixed;
                                 height: 100%;
                                 width: 100%;
                                 display:none;
                                 top:0;
                                 left:0;
                             }
                             .links-popup{
                                 position: absolute;
                                 width:100%;
                                 left:0px;
                                 border: 1px solid #53a63c;
                                 top: 50%;
                                 transform: translateY(-50%) scaleX(0.5) scaleY(0);
                                 transition: transform 0.2s;
                                 z-index: 100;
                                 a{
                                     width:100%;
                                     color: white !important;
                                     padding: 10px;
                                     background-color: #53a63c;
                                     text-align: center;
                                     display: flex;
                                     align-items: center;
                                     &:hover{
                                         text-decoration: none;
                                         background-color: gray;
                                         span{
 
                                             text-decoration: underline
                                         }
                                     }
                                     i{
                                         font-size:1.5rem
                                     }
                                     span{
                                         margin-left:5px;
                                         text-transform: capitalize;
                                     }
 
                                 }
                             }
                         }
 
                     }*/
                }
            }
        }
    }
    &>.map-wrapper{
        flex:0 0 50%;
        position: sticky;
        top:80px;
        height: calc( 100vh - 80px );

        .map{
            height:100%;
            width:100%;
            .restaurant-seemap{
                display: none;
            }
        }
    }
}
.contact {
    background-color: #b8e270;
    border-top: 30px solid #53a63c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-inner {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #9dcf61;
    max-width: 600px;
    width: 100%;
}

footer {
    background-color: #53a63c;
    width: 100%;
    height: 200px;
}

.row {
    display: flex;

    label {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.contact {
    h2 {
        text-align: left;
        color: #53a63c;
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    textarea {
        background-color: transparent;
        font-size: 70.25%;
        width: 100%;
        border: 0;
        padding: 5px;
        margin-bottom: .5rem;
        height: 100%;
        padding: 2.15em 0.75em 0;
    }

    button {
        background-color: #53a63c;
        color: white;
        font-weight: bold;
        font-size: 70.25%;
        width: 100%;
        height: 40px;
        border-radius: 0;
    }
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 0.2em;
    height: 4em;

    &.textarea {
        height: 20em;
    }
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none;

    /* for box shadows to show on iOS */

    &:focus {
        outline: none;
    }
}

.input__label {
    display: inline-block;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.input--juro {
    overflow: hidden;
}

.input__field--juro {
    position: absolute;
    z-index: 100;
    padding: 2.15em 0.75em 0;
    width: 100%;
    background: transparent;
    color: #53a63c;
    font-size: 0.85em;
}

.input__label--juro {
    padding: 0;
    width: 100%;
    height: 100%;
    background: #dbf2b3;
    text-align: left;
}

.input__label-content--juro {
    padding: .2em 1em;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s, top 0.3s, color 0.3s;
    transition: transform 0.3s, top 0.3s, color 0.3s;
    top: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-rendering: geometricPrecision;
}

.input__label--juro::before {
    content: '';    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    -webkit-transition: border-width 0.3s, border-color 0.3s;
    transition: border-width 0.3s, border-color 0.3s;
}

.input__field--juro:focus + .input__label--juro::before, .input--filled .input__label--juro::before {
    border-width: 8px;
    border-color: #53a63c;
    border-top-width: 2em;
}

.input__field--juro:focus + .input__label--juro .input__label-content--juro, .input--filled .input__label--juro .input__label-content--juro {
    color: #fff;
    top: 0px;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.form-field-error {
    color: red;
    border-color: red;
}








/* The container must be positioned relative: */

.select-box {
    position: relative;
    font-family: Arial;
    margin:5px;
    display:inline-block;
    select {
        display: none;

        /*hide original SELECT element: */
    }
    .select-selected {
        border: 1px solid gray;
        border-radius: 50rem;
        background-color: white;
        padding: 8px 16px;
        padding-right: 30px;
        cursor: pointer;
        border-color: lightgray;
        &:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: gray transparent transparent transparent;
        }

        &.select-arrow-active:after {
            border-color: transparent transparent gray transparent;
            top: 7px;
        }
    }

}
.dropdown-wrapper{
    .select-items {
        position: absolute;
        background-color: white;
        top: calc( 100% + 5px);
        left: 0;
        right: 0;
        z-index: 99;
        padding: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;

        /* Hide the items when the select box is closed: */
        &.select-hide {
            display: none;
        }
        &:before {
            content: "";
            width: 20px;
            height: 20px;
            border: 10px solid transparent;
            border-bottom: 10px solid white;
            position: absolute;
            left: 50%;
            top: -20px;
            transform: translateX(-50%);
        }
        .selectItem {
            &:hover, &:active{
                background-color: lightgray;
            }
            padding: 8px 16px;
            border: 1px solid transparent;
            border-color: transparent transparent lightgray transparent;
            cursor: pointer;
            &.selected .checkmark:after{
                display:block;
            }
            .checkmark {
                position: relative;
                height: 1.2rem;
                width: 25px;
                display:inline-block;
                /* Create the checkmark/indicator (hidden when not checked) */
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 11px;
                    top: 5px;
                    width: 5px;
                    height: 12px;
                    border: solid;
                    border-width: 0 1px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }

        }
    }
}









#autoComplete_wrapper{
    position: relative;
    display: inline-block;
    &:before{
        content: "\e904";
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position:absolute;
        z-index:10;
        left:15px;  
        top:50%;
        transform: translateY(-50%)

    }
}
#autoComplete_list {

    .autoComplete_selected{
        background-color: lightgray;
    }

}

#autoComplete {
    position: relative;
    padding: 8px 8px 8px 2.5rem;
    font-size: 1rem;
    border-radius: 50rem;
    border: 1px solid lightgray;
    transition: none;

    /*background-image: url(./images/magnifier.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-origin: border-box;
    background-position: center;
    transition: all 0.4s ease;
    -webkit-transition: all -webkit-transform 0.4s ease;
    text-overflow: ellipsis;*/
}



/* Customize the label (the checkbox-wrapper) */
.checkbox-wrapper {
    background-color: white;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid lightgray;
    border-radius: 50rem;
    padding: 5px;
    padding-left: 30px;
    padding-right: 15px;
    &:hover{
        background-color: #ccc;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark:after{
            display: block;
        }

    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        top: 50%;
        left: 15px;
        transform: translate(-50%,-50%);
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 11px;
            top: 5px;
            width: 5px;
            height: 12px;
            border: solid;
            border-width: 0 1px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}



.about-us{
    position: relative;
    &:before{
        content: "";
        display: block;
        position: absolute;
        background-image: url(/images/saladbowl.png);
        width:50%;
        height:100%;
        top:-150px;
        left:0px;
        transform: translateX(-100%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
        z-index: 10;  
    }
    .about-us-content{
        font-size: 1.2rem;
        padding: 10rem 6rem; 
        position:relative;
        &:before{
            content: "";
            display: block;
            position: absolute;
            background-image: url(/images/logo.png);
            background-size: contain;
            background-repeat: no-repeat;
            right: 0px;
            bottom: 0rem;
            transform: rotate(10deg);
            width:10rem;
            height:10rem;

        }
    }
}