@import "~leaflet";
@import "~bootstrap";

html, body {
	margin: 0px;
	overflow: auto;
	color: #5d3923;
  }
  
  a {
	color: #5d3923 !important;
  }
  
  body.scrolled .logo {
	width: 100px;
  }

  .scrollWrapper{
	  position:relative;
	  .scrollOffset{
		  position:absolute;
		  top:-100px;
	  }
  }
  
  .menu-bar {
	display: flex;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	background-color: white;
	z-index: 1000;
	top: 0;
	left: 0;
  }
  
  header {
	height: 100vh;
	width: 100%;
	padding-top: 250px;
	position: relative;
	overflow: hidden;
	background: rgb(255, 255, 255);
	background: linear-gradient(0deg, rgba(248, 248, 248, 1) 0%, rgba(255, 255, 255, 1) 100%);
  }
  
  .logo {
	transition: width 0.2s ease-in;
	width: 320px;
  
	img {
	  width: 100%;
	}
  }
  
  .menu-bar-inner {
	display: flex;
	align-items: center;
  }
  
  .menu {
	display: flex;
	justify-content: space-around;
	width: 100%;
  }
  
  .triangle-bottom {
	position: absolute;
	height: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	border-bottom: 50px solid #b8e270;
  
	.dark-green {
	  width: 150%;
	  position: absolute; 
	  top: 30px;
	  left: 0%;
	  height: 150%;
	  top: 100%;
	  transform-origin: top left;
	  transform: rotate(-10deg);
	  background-color: #53a63c;
	}
  
	.light-green {
	  div {
		position: relative;
		height: 100%;
		width: 100%;
	  }
  
	  img {
		position: absolute;
		top: -200px;
		left: 100vw;
		transform: translateX(-100%);
		width: 40%;
		height: 500px;
		opacity: 0.5;
	  }
  
	  overflow: hidden;
	  width: 100%;
	  position: absolute;
	  top: 0%;
	  left: 0%;
	  height: 100%;
	  transform-origin: top left;
	  transform: rotate(0.5deg);
	  background-color: #b8e270;
	  z-index: -1;
	}
  }
  
  .header-intro {
	position: relative;
	padding-top: 75px;
  }
  
  .left-decor {
	position: absolute;
	top: 0px;
	transform: translateX(calc(-100% - 50px ));
  }
  
  .restaurant {
	background-color: rgb(248, 248, 248);
	position: relative;
	z-index: 2;
  }
  
  .restaurant-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 100px 0px;
	align-items: stretch;
  }
  
  .restaurant-item {
	flex: 0 0 350px;
	width: 350px;
	padding: 10px;
  
	.restaurant-content {
	  margin: 5px;
	  color: #5d3923;
	  background-color: white;
	  border: 1px solid #53a63c;
	  display: flex;
	  flex-direction: column;
	  position: relative;
	  height: 100%;
  
	  .restaurant-picture {
		background-color: lightgray;
		height: 200px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	  }
  
	  .restaurant-description {
		.restaurant-tags {
		  &:before {
			content: "";
			position: absolute;
			height: 0px;
			width: 0px;
			left: 0px;
			top: -4px;
			border-right: 5px solid #2d621e;
			border-bottom: 2px solid #2d621e;
			border-top: 2px solid transparent;
			border-left: 5px solid transparent;
			z-index: -1;
		  }
		  span{  
			&:not(:first-child):before{
				content:", "; 
			  }
		  }
		  
  
		  background-color: #53a63c;
		  color: white;
		  position: absolute;
		  top: 0px;
		  transform: translateY(-50%);
		  left: -10px;
		  padding-left: 10px;
		  padding: 5px;
		  border-top-right-radius: 30px;
		  border-bottom-right-radius: 30px;
		  padding-right: 30px;
		  max-width: 100%;
		}
  
		padding: 5px;
		padding-top: 30px;
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
  
		.restaurant-bio {
		  flex: 1;
		}
		.restaurant-openings{
			font-size:0.7em;

			.opening-day-name{
				flex: 0 0 100px;
			}
			.opening-day{
				display:flex;
				justify-content: space-between;
				.opening-day-hours{
					flex:1;
					margin-left: 5px;
					display: flex;
					span{
						flex: 0 0 50%
					}
				}
			}
		}
		.restaurant-external-link{
			font-size: 1.5em;
			margin: 5px;
			.fa-facebook-official{
				color:#4267B2
			}
		}
  
		.restaurant-seemap {
			padding: 10px;
		  	text-align: right;
		 	width: 100%;
		  	display: inline-block;
		}
	  }
  
	  .order {
		a{
			color: white !important;
		}
		padding: 10px;
		background-color: #53a63c;
		text-align: center;
	  }
	}
  }
  
  .restaurant-filters {
	color: #b8e270;
	.restaurant-filters-decors{
		&:before {
			content: "";
			background-color: #b8e270;
			position: absolute;
			transform-origin: top left;
			width: 150%;
			height: 50px;
			top: -50px;
			transform: rotate(1deg);
		  } 
		padding-top: 50px;
		background-color: #53a63c;
		height: 100px;
		position: relative;
		overflow: hidden;
	}  
	
	.cooktypes{
		.cook-result{
			display:flex;
			flex-wrap: wrap;
			.selected-cook-type{
				background-color: #b8e270;
				color: #53a63c; 
				padding: 5px;
				border-radius: 5px; 
				margin:5px;
				span:last-child{
					margin-left: 5px;  
					cursor: pointer;
				}
			}
		}
	}
	
	background-color: #53a63c;
	padding-bottom: 10px;

  }
  
  #restaurant-map-inner {
	width: 100%;
	height: 80vh;
	.restaurant-seemap{
		display: none;
	}
  }
  
  .contact {
	background-color: #b8e270;
	border-top: 30px solid #53a63c;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .contact-inner {
	padding: 50px;
	display: flex;
	flex-direction: column;
	background-color: #9dcf61;
	max-width: 600px;
	width: 100%;
  }
  
  footer {
	background-color: #53a63c;
	width: 100%;
	height: 200px;
  }
  
  .row {
	display: flex;
  
	label {
	  margin-left: 5px;
	  margin-right: 5px;
	}
  }
  
  .contact {
	h2 {
	  text-align: left;
	  color: #53a63c;
	  font-size: 1.4em;
	  margin-bottom: 1em;
	}
  
	textarea {
	  background-color: transparent;
	  font-size: 70.25%;
	  width: 100%;
	  border: 0;
	  padding: 5px;
	  margin-bottom: .5rem;
	  height: 100%;
	  padding: 2.15em 0.75em 0;
	}
  
	button {
	  background-color: #53a63c;
	  color: white;
	  font-weight: bold;
	  font-size: 70.25%;
	  width: 100%;
	  height: 40px;
	  border-radius: 0;
	}
  }
  
  .input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	margin-bottom: 0.2em;
	height: 4em;
  
	&.textarea {
	  height: 20em;
	}
  }
  
  .input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
  
	/* for box shadows to show on iOS */
  
	&:focus {
	  outline: none;
	}
  }
  
  .input__label {
	display: inline-block;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
  }
  
  .graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
  }
  
  .icon {
	color: #ddd;
	font-size: 150%;
  }
  
  .input--juro {
	overflow: hidden;
  }
  
  .input__field--juro {
	position: absolute;
	z-index: 100;
	padding: 2.15em 0.75em 0;
	width: 100%;
	background: transparent;
	color: #53a63c;
	font-size: 0.85em;
  }
  
  .input__label--juro {
	padding: 0;
	width: 100%;
	height: 100%;
	background: #dbf2b3;
	text-align: left;
  }
  
  .input__label-content--juro {
	padding: .2em 1em;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, top 0.3s, color 0.3s;
	transition: transform 0.3s, top 0.3s, color 0.3s;
	top: 2rem;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-rendering: geometricPrecision;
  }
  
  .input__label--juro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
  }
  
  .input__field--juro:focus + .input__label--juro::before, .input--filled .input__label--juro::before {
	border-width: 8px;
	border-color: #53a63c;
	border-top-width: 2em;
  }
  
  .input__field--juro:focus + .input__label--juro .input__label-content--juro, .input--filled .input__label--juro .input__label-content--juro {
	color: #fff;
	top: 0px;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
  }
  
  .form-field-error {
	color: red;
	border-color: red;
  }







  

 /* The container must be positioned relative: */
.select-box {
  position: relative;
  font-family: Arial;
}

.select-box select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #b8e270;//#53a63c;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #53a63c transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #53a63c transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #53a63c;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color:#b8e270;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} 





 /* Customize the label (the checkbox-wrapper) */
 .checkbox-wrapper {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-top: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #b8e270;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrapper input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #b8e270;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-wrapper:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-wrapper input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-wrapper .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid #53a63c;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  } 