
html,body{
	margin:0px;
	overflow: auto;
	color: #5d3923;
	
}
a{
	color: #5d3923 !important
}

body.scrolled .logo{
	
	width:100px
}

.menu-bar{
	display: flex;
	position: fixed;
	width:100%;
	padding: 15px 0;
	background-color:white;
	z-index:1000;
	top: 0;
	left: 0;
}
header{
	height:100vh;
	width:100%;
	padding-top: 250px;
	position:relative;
	overflow: hidden;
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
}
.logo{
	transition: width 0.2s ease-in;
	width:320px
}

.logo img{
	width:100%
}


.menu-bar-inner{
	display:flex;
	align-items: center;
}
.menu{
	display:flex;
	justify-content: space-around;
	width:100%
	
}

.triangle-bottom{
	position: absolute;
	height:50%;
	bottom:0;
	left:0;
	right:0;
	z-index:0;
	border-bottom: 50px solid #b8e270;

}
.triangle-bottom .dark-green{
	width:150%;
	position:absolute;
	top:30px;
	left:0%;
	height:150%;
	top: 100%;
	transform-origin: top left;
	transform: rotate(-10deg);
	background-color: #53a63c;
	
}
.triangle-bottom .light-green div{
	position:relative;
	height:100%;
	width:100%;
	
}
.triangle-bottom .light-green img{
	position:absolute;
	top:-200px;
	left:100vw;
	transform: translateX(-100%);
	width:40%;
	height:500px;
	opacity:0.5
}
.triangle-bottom .light-green{
	overflow: hidden;
	width: 100%;
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	transform-origin: top left;
	transform: rotate(0.5deg);
	background-color: #b8e270;
	z-index:-1
}
.header-intro{
	position:relative;
	padding-top: 75px;
}
.left-decor{
	position:absolute;
	top:0px;
	transform: translateX(calc(-100% - 50px ));
}
.restaurant{
	background-color: rgb(248,248,248);
	position: relative;
    z-index: 2;
}

.restaurant-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.restaurant-item{
	flex: 0 0 350px;
	padding: 10px;
}

.restaurant-item .restaurant-content{
	
	margin: 5px;
	
	background-color: white;
	border: 1px solid #53a63c;
	display:flex;
	flex-direction: column;
}

.restaurant-item .restaurant-content .restaurant-picture{
	background-color: lightgray;
	height: 150px;

}
.restaurant-item .restaurant-content .restaurant-description{
	padding:5px
}
.restaurant-item .restaurant-content .restaurant-description .restaurant-seemap{
	text-align:right;
	width: 100%;
	display:inline-block
}
.restaurant-item .restaurant-content .order{
	padding: 5px;
	color: white;
	background-color: #53a63c;
	text-align: center;
}
.restaurant-filters:before{
	content: "";
	background-color: #b8e270;
	position: absolute;
	transform-origin: top left;
	width: 150%;
	height: 50px;
	top: -50px;
	transform: rotate(1deg);
}
.restaurant-filters{
	background-color: #53a63c;
	height: 100px;
	position: relative;
	overflow: hidden;
}

#restaurant-map{
	width:100%;
	height: 80vh
}

.contact{
	background-color: #b8e270;
	border-top: 30px solid #53a63c;
	height:100vh;
}

footer{
	background-color: #53a63c;
	width:100%;
	height: 200px;
}

.row {
	display:flex;
	
}

.row label{
 margin-left:5px;
  margin-right:5px;	
}