<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorate="~{main-layout}">
    <head>
        <title>Resto'loco | Annuaire des restaurants | A propos de nous</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <main layout:fragment="content" class="about-us-page">
            <a href="/">&laquo; retour à l'application</a>
            <h1>Resto'loco | Référencement des restaurants du Calvados.</h1>
            <h2>Bienvenue sur notre site !</h2>
            <p>
                Originaires de la <strong>région normande</strong>, nous sommes Laurent et Thomas, 2 informaticiens trentenaires, passionnés par notre métier. 
                Travaillant dans la même entreprise située aux portes de Caen, nous avons été forcés de stopper temporairement notre activité professionnelle à cause de la crise du coronavirus. 
                L'idée de crée Resto’loco nous est alors venue...
            </p>
            <h2>L'histoire de Resto’loco</h2>
            <p>
                Tout a commencé en Mars 2020, pendant le confinement de la pandémie du COVID19.
                Les <strong>restaurants</strong>, <strong>brasseries</strong>, bars et cafés doivent fermer. <strong>Le monde de la restauration</strong> est à l'arrêt forcé et nous ne connaissons pas leur date de réouverture.
                Qu'elle soit simple et rapide ou <strong>gastronomique</strong>, <strong>la nourriture</strong> partagée reste un moment convivial, entre amis, collègues ou en famille. 
                Nous aimons, comme vous, déguster de bons petits plats. Depuis plusieurs semaines, le COVID19 a chamboulé nos vies, notre quotidien, nos habitudes. 
                C'est pourquoi, en manque de sorties autour d'une table, il nous est venu à l'esprit de créer un site qui permettrait de se restaurer grâce à une recherche facile des <strong>commerces de bouche</strong> situés à <strong>Caen et sa périphérie</strong>.
                Jour après jour, ils réouvrent pour proposer de la vente à emporter et en livraison, à défaut de pouvoir <strong>déjeuner</strong> et <strong>dîner</strong> sur place.
                Chaque resto, qu'ils soient indien, africain, italien mexicain ou autre, met en ligne leurs <strong>entrées</strong>, <strong>plats de résistance</strong>, <strong>desserts</strong> et <strong>boissons</strong>, sous forme de <strong>menus</strong> ou à l'unité.
                <strong>Envie d'une pizza, d'un burger frites, de sushis ou de tacos ?</strong> Ou bien préférez-vous faire appel à un <strong>chef cuisinier traiteur</strong> pour manger plus raffiné ?
                Notre idée est de recenser le maximum d'enseignes pour offrir au public <strong>un large choix de repas</strong>. Cet <strong>annuaire</strong> personnalisé vous est proposé gratuitement, parce qu'être solidaire en cette période est important à nos yeux et fait partie de nos valeurs. 
            </p>
            <h2>Le principe: Je trouve un restaurant ouvert facilement.</h2>
            <p>
                La démarche à suivre est simple : vous entrez une adresse et choisissez ensuite vos <strong>types de cuisine préférés</strong>.
                Une dernière option permet de sélectionner le mode de retrait : à retirer, sur place, ou se faire livrer pour manger à domicile (les frais de livraison dépendent de chaque <strong>restaurant</strong> ou de Uber Eat, Just Eat, Supply Shop etc.)
                La liste des établissements s'affiche. Leurs jours et horaires d'ouverture sont indiqués, ainsi que leur numéro de téléphone et lien vers leur site internet ou page Facebook.
            </p>
            <h2>Je suis restaurateur et souhaite me rajouter à votre liste, comment faire ?</h2>
            <p>
                Vous pouvez nous écrire via le lien "Contactez-nous" en haut à droite de notre site. Il suffit de nous donner le nom de votre restaurant, <strong>type de cuisine</strong>, adresse, jours et heures d'ouverture. 
                Il vous sera bientôt possible de rajouter vous même votre enseigne (une simple validation par nos soins et le tour est joué !).
                Nous avons également créé une page Facebook @restoloco14 (nom visible= Resto’loco). N'hésitez pas à aimer nos publications, réagir par des commentaires ou tout simplement partager nos liens. Les réseaux sociaux permettent à chacun davoir une plus grande visibilité.
            </p>
            <p>Il nous reste à vous souhaitez une belle visite et un <strong>bon appétit</strong> !</p>

            <p>Laurent et Thomas</p>
        </main>
    </body>
</html>
