<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="contactForm" class="contact scrollWrapper popup">
            <div class="veil"></div>
            <div class="contact-box">
                <div class="contact-inner">
                    <div class="close"></div>
                    <h2><span>Une question? </span><span>Contactez nous...</span></h2>



                    <form action="" th:action="@{/contact-ajax}" th:object="${contact}" method="POST" id="form-contact" >
                        <input type="text" placeholder="Nom" required id="name"
                               th:field="*{name}" pattern=".*\S.*" />
                        <input type="email" pattern=".+@.+\..+" placeholder="Email" required id="email"
                               th:field="*{email}"  />
                        <textarea  pattern=".*\S.*" placeholder="Message" required name="text" th:field="*{text}"  id="message" ></textarea>
                        <span id="form-contact-success" class="alert alert-success">Message envoyé.<br>Nous reviendrons rapidement vers vous</span>
                        <button type="submit" class="btn" >Envoyer</button>
                    </form>
                </div>
            </div>    
        </section>
    </body>
</html>
