<footer th:fragment="footer">
    <div class="footer-inner">
        <div class="footer-logo">
            <img src="/images/logowhite.svg" alt="restoloco logo white">
            <div><a href="/mentions-legales" class="footer-link">Mentions légales</a> - <a href="/a-propos" class="footer-link">A propos de nous</a></div>
        </div>
        <a href="https://facebook.com/restoloco14/" target="_blank" rel="nofollow" class='icon-facebook'></a>
    </div>
    <div th:insert="~{contact :: contactForm}" class="contact-wrapper">
        
    </div>
</footer>