<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main-layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	
	<main layout:fragment="content">
		<section class="restaurant scrollWrapper">
			<div class="scrollOffset" id="restaurant-list"></div>
			<div class="restaurant-filters ">
				<div class="restaurant-filters-decors"></div>
				<div class="container">
					<div class="row cooktypes">
						<div class="col">
							<div class="select-box"> 
							<select  class="cook-select" name="" id=""> 
								<option th:each="type : ${cookTypes}" th:text="${type.description}" th:attr="value=${type.name}"></option>
							</select>
						</div>
						</div>
						<div class="col cook-result">
						</div>
					</div>
				</div>
			</div>
			<div id="restaurant-list" class="restaurant-list container" >
				
				<article class="restaurant-item" th:each="resto : ${restos}" th:attr=data-filters=${{restos.getFilters()}}>
					<div class="restaurant-content">
						<div class="restaurant-picture">

						</div>
						
						<div class="restaurant-description">
							<div class="restaurant-tags" >
								<span th:each="cooktype : ${resto.cookTypes}" th:text="${cooktype.description}"></span>
							</div>
							<h3 class="restaurant-name" th:text="${resto.name}"></h3>
							<p class="restaurant-bio" th:text="${resto.bio}"></p>
							<div class="restaurant-horaire">

							</div>
							<a class="restaurant-seemap" th:if="${resto.lat != null && resto.lng != null}" th:attr="data-lat=${resto.lat},data-lng=${resto.lng}"   >voir sur la carte</a>
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				
			</div>
			<div class="map-wrapper scrollWrapper">
				<div class="scrollOffset" id="restaurant-map"></div>
				<div id="restaurant-map-inner" class="map"></div>
			</div>
		</section>
		<section  class="contact scrollWrapper">
			<div class="scrollOffset" id="contact"></div>
			<div class="contact-inner">
				<h2>Une question?<br>Contactez nous...</h2>
				
				<span id="form-contact-error"  class="input input--juro" style="display:none"></span>
				<span id="form-contact-success" class="input input--juro" style="display:none"></span>
				<form action="" th:action="@{/contact-ajax}" th:object="${contact}" method="POST" id="form-contact"  >
				
			
					<span id ="form-contact-name" class="input input--juro">
						<input type="text" class="input__field input__field--juro" id="name"
							th:field="*{name}"  />
						<label class="input__label input__label--juro" for="input-1">
							<span class="input__label-content input__label-content--juro">Nom</span>
						</label>
					</span>
					<span  id="form-contact-email" class="input input--juro">
						<input type="text" class="input__field input__field--juro" id="email"
							th:field="*{email}"  />
						<label class="input__label input__label--juro" for="input-2">
							<span class="input__label-content input__label-content--juro">Email</span>
						</label>
					</span>
					<span id="form-contact-text" class="input textarea input--juro">
						<textarea class="input__field input__field--juro" name="text" th:field="*{text}"  id="message" cols="30" rows="10"></textarea>
						<label class="input__label input__label--juro" for="input-3">
							<span class="input__label-content input__label-content--juro">Message</span>
						</label>
					</span>
					
					<button type="button" class="btn" onclick="addContact()" >Envoyer</button>
				</form>

				
			</div>
		</section>
	</main>
	
	

</body>
</html>