<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../static/css/layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="../static/css/leaflet.css" th:href="@{/css/Layout.css}" rel="stylesheet" />

</head>
<body>
	<header>
		<div class="menu-bar">
			<div class="container menu-bar-inner">
				<div class="logo">
					<img src="../static/images/logo.png" alt="">
				</div>
				<nav class="menu">
					<a href="#restaurant-list" class="menu-item">
						Les restaurants
					</a>
					<a href="#restaurant-map" class="menu-item">
						La carte
					</a>
					<a href="#contact" class="menu-item">
						Contact
					</a> 
				</nav>
			</div>	
		</div>
		<section class="header-intro container">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nibh ligula, rhoncus vitae aliquet eget, condimentum in dui. Praesent hendrerit magna sed libero mollis tristique. Nullam interdum, lorem id pretium pulvinar, elit velit efficitur neque, sit amet tincidunt justo augue non nulla. Praesent lobortis semper mauris, sit amet hendrerit mauris porttitor sed. Curabitur nisl quam, vulputate nec justo a, imperdiet sodales erat. Sed mi quam, convallis quis velit in, viverra tempus nisl. Etiam venenatis, turpis non pharetra tempus, nibh massa posuere magna, eget sagittis nulla purus et diam. Proin sed odio metus.
					Maecenas et augue et neque pulvinar condimentum id non orci. Sed id lobortis mauris. Proin ornare elit feugiat augue iaculis, vitae consectetur lorem pharetra. Proin sagittis massa quis orci fermentum dictum. Cras finibus facilisis dui nec aliquet. Ut convallis fermentum dui, et porttitor turpis faucibus non. Nullam blandit fermentum ipsum. Sed et nisi id mi varius blandit nec nec metus. Vivamus quis erat vitae est dignissim auctor a a leo. Sed hendrerit orci ac turpis volutpat, sed dictum massa fermentum. Vestibulum fermentum neque eu lacus faucibus, quis porta justo ullamcorper. Donec velit erat, vestibulum a diam ut, fermentum luctus lacus. Suspendisse a dignissim turpis. Maecenas ullamcorper ipsum dictum volutpat aliquam. Vivamus placerat suscipit elit eget venenatis. 
				</p>
				<div class="left-decor">
					<img src="../static/images/saladbowl.png" alt="">
				</div>
		</section>
		<div class="decor">
				<div class="triangle-bottom">
					<div class="dark-green">
						<div class="light-green">
							<img src="../static/images/maskmap.png" alt="">
						</div>	
					</div>
					
				</div>
			</div>
	</header>
	<main>
		<section class="restaurant">
			<div class="restaurant-filters">

			</div>
			<div id="restaurant-list" class="restaurant-list container">
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
				<article class="restaurant-item">
					<div class="content">
						<div class="picture">

						</div>
						<div class="description">
						</div>
						<div class="button order">
							Commander
						</div>
					</div>
				</article>
			</div>
			<div id="restaurant-map" class="map">
			
			</div>
		</section>
		<section id="contact" class="contact">
		</section>
	</main>
	<footer>
	</footer>
	<script src="../static/js/leaflet.js"></script>
	<script>
		function resizeDecor(e){
			
			var height = window.innerHeight/2;
			var width = window.innerWidth;
			var degres = Math.atan(height/width)/(Math.PI*2)*360;
			console.log(degres)
			document.querySelector(".decor .dark-green").style.transform = "rotate(-"+degres+"deg)";
			

		}
		window.addEventListener("resize", resizeDecor);
		window.addEventListener("scroll", function(e){
			console.log(document.body.scrollTop)
			if((document.body.scrollTop > 0 || document.documentElement.scrollTop > 0)){
				document.body.classList.add('scrolled');
			}
			else{
				document.body.classList.remove('scrolled');
			}
		});
		resizeDecor()

		var map = L.map('restaurant-map').setView([51.505, -0.09], 13);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		L.marker([51.5, -0.09]).addTo(map)
			.bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
			.openPopup();
	</script>

</body>
</html>