<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main-layout}">
    <head>
        <meta charset="UTF-8">
        <title>Resto'loco | référencement de restaurants de caen et ses alentours.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main layout:fragment="content">
            <div class="big-footer">
                <div class="about-us">
                    <div class="about-us-content">
                        <h1>L'Annuaire local des restaurants de Caen et son agglomération.</h1>
                        <p>
                            <strong>Resto‘Loco</strong>, la nouvelle référence pour trouver votre restaurant proposant <strong>des plats à emporter ou en livraison</strong> à <strong>Caen et ses environs.</strong><br> 
                            Vous y trouverez différents <strong>types de cuisine</strong>, les jours et <strong>horaires d’ouverture</strong>, ainsi que leur <strong>localisation.</strong> <br>
                            Un petit creux? C’est parti !
                        </p>
                    </div>
                </div>
            </div>
            <section class="restaurant-wrapper scrollWrapper">
                <div class="list-wrapper">
                    <div class="restaurant-filters ">
                        <input class="filter-switch" type="checkbox" id="filter-switch">
                        <label for="filter-switch" class="filters-switch-label">Filtres</label>
                        <div class="filters-box">
                            <h2>Qu'est ce qui vous ferait plaisir ?</h2>
                            <div class="filters-content">
                                <div id="autoComplete_wrapper" class="dropdown-wrapper">
                                    <input id="autoComplete"  tabindex="1"> 
                                </div>
                                <div class="cooktypes">
                                    <div class="select-box dropdown-wrapper"> 
                                        <select  class="cook-select" name="" id=""> 
                                            <option th:each="type : ${cookTypes}" th:text="${ #strings.toLowerCase(type.description)}" th:attr="value=${type.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="eating-types">
                                    <div>
                                        <label class="checkbox-wrapper">A emporter
                                            <input type="checkbox" data-filter-boolean="delivery" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="checkbox-wrapper">Livraison
                                            <input type="checkbox" data-filter-boolean="takeAway">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                   
                                </div>
                                <div class="searchResto">
                                    <input id="searchRestoInput" dat-filter-like="" placeholder="Chercher un resto par son nom"> 
                                </div>
                            </div> 
                        </div>

                    </div>
                    <div th:insert="~{restaurant-list :: restaurantlist}"></div>
                </div>
                <div class="map-wrapper">
                    <div class="map" id="restaurant-map-inner"></div>
                    <div class="map-restaurant-detail"></div>
                </div>

            </section>
        </main>
    </body>
</html>