<div th:fragment="link (externalLinks, itemStat)">

	<div class="row">
		<div >
			
			<select  th:with="linkTypes = ${ {'Deliveroo', 'Uber Eat', 'Just-Eat'} }"
				th:field="*{externalLinks[__${itemStat.index}__].type}">
				<option th:each="type : ${linkTypes}" th:value="${type}" th:text="${type}" th:selected="${externalLinks[__${itemStat.index}__].type == type}"></option>
			</select>
		</div>

		<label for="fullName" class="col-form-label">Url </label>
		<div >
			<input type="text" name="url"
				th:field="*{externalLinks[__${itemStat.index}__].url}" />
		</div>

	</div>

</div>