<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="../static/css/Layout.css" th:href="@{/css/layout.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/add.js}"></script>
<script async th:attr="src=@{/js/bootstrap.js}"></script>
</head>
<body>

	

	<div>



		<div class="row">
			<h2 class="col-sm-6">TEST</h2>
			<a  th:href="@{/admin/add}" class="btn btn-primary col-sm-2">Ajouter</a>
		</div>
	
		<div class="row" th:each="resto : ${restos}">
		
			<span class="col-sm-6" th:text="${resto.name}"></span> <a
				sec:authorize="hasRole('ROLE_ADMIN')"
				th:href="@{/admin/edit-resto/{id}(id=${resto.id})}" class="btn btn-primary">Editer</a>

		</div>
	</div>

</body>
</html>