<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Google Tag Manager -->
<script>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start' : new Date().getTime(),
			event : 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l='
				+ l
				: '';
		j.async = true;
		j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-5NQ3VNN');
</script>
<!-- End Google Tag Manager -->
<link href="../static/css/layout.css" th:href="@{/css/Layout.css}"
	rel="stylesheet" />
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="../static/css/leaflet.css" th:href="@{/css/Layout.css}"
	rel="stylesheet" />

</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NQ3VNN"
			height="0" width="0" style="display: none; visibility: hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div th:replace="header :: header"></div>

	<div layout:fragment="content"></div>
	<!--footer.html  that's here  -->
	<div th:replace="footer :: footer"></div>

	<script th:attr="src=@{/js/leaflet.js}"></script>
	<script>
		function resizeDecor(e){
			
			var height = window.innerHeight/2;
			var width = window.innerWidth;
			var degres = Math.atan(height/width)/(Math.PI*2)*360;
			//console.log(degres)
			document.querySelector(".decor .dark-green").style.transform = "rotate(-"+degres+"deg)";
			

		}
		window.addEventListener("resize", resizeDecor);
		window.addEventListener("scroll", function(e){
			//console.log(document.body.scrollTop)
			if((document.body.scrollTop > 0 || document.documentElement.scrollTop > 0)){
				document.body.classList.add('scrolled');
			}
			else{
				document.body.classList.remove('scrolled');
			}
		});
		resizeDecor()

		var map = L.map('restaurant-map').setView([49.1811,-0.3712], 14);


		L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
			subdomains: 'abcd',
			scrollWheelZoom: false,
			maxZoom: 19
		}).addTo(map);

		map.on('click', () => { this.map.scrollWheelZoom.enable();});
		map.on('mouseout', () => { this.map.scrollWheelZoom.disable();});


		/***********************/
		// Contact
		/***********************/
		(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field, textarea.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						inputEl.parentNode.classList.add('input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					ev.target.parentNode.classList.add('input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						ev.target.parentNode.classList.remove('input--filled' );
					}
				}
			})();
	</script>
</body>
</html>