<div th:fragment="restaurantlist" class="restaurant-list container" >
				
	<article class="restaurant-item" th:each="resto : ${restos}" >
		<div class="restaurant-content">
			<div class="restaurant-picture">
				<img th:src="'/uploaded/'+${resto.photo}" />
			</div>
			
			<div class="restaurant-description">
				<div class="restaurant-tags" >
					<span th:each="cooktype : ${resto.cookTypes}" th:text="${cooktype.description}"></span>
				</div>
				<h3 class="restaurant-name" th:text="${resto.name}"></h3>
				<p class="restaurant-bio" th:text="${resto.bio}"></p>
				<div class="restaurant-openings" >
						<h4>Horaires</h4>
						<div class="opening-day" th:each="opening : ${resto.openings}">
							<div class="opening-day-name" th:text="${opening.day}"></div>
							<div class="opening-day-hours" 
								>
								<span th:if="!opening.closed">Fermé</span>
								<span th:if="opening.closed" th:text="((${opening.lunchStart  == null})?'':${#temporals.format(opening.lunchStart, 'HH:mm')}+' - '+${#temporals.format(opening.lunchEnd, 'HH:mm')})"></span>
								<span th:if="opening.closed" th:text="((${opening.dinnerStart  == null})?'':${#temporals.format(opening.dinnerStart, 'HH:mm')}+' - '+${#temporals.format(opening.dinnerEnd, 'HH:mm')})"></span>
							</div>
							
						</div>
					
				</div>
				<div class="restaurant-links">
					<a th:each="link : ${resto.externalLinks}" th:if="link.type == 'SOCIAL'" th:href="${link.url}" th:attr="data-link-type=${link.subtype}"> </a>
				</div>
				<a class="restaurant-seemap" href="#" th:if="${resto.lat != null && resto.lng != null}" th:attr="data-lat=${resto.lat},data-lng=${resto.lng}"   >
					<svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 002 6c0 4.314 6 10 6 10zm0-7a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
					</svg>
					voir sur la carte
				</a>
			</div>
			<div class="button order">
				<a th:href="'tel:'+${resto.phone}">
					Commander
				</a>
			</div>
		</div>
	</article>
	
</div>